.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.login-heading {
  text-align: center;
  margin-bottom: 20px;
}

.ant-form {
  max-width: 600px;
  /* margin: auto; */
  padding: 40px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 15px;
  
}

.ant-form-item {
  margin-bottom: 15px;
}

.ant-input {
  border-radius: 5px;
  justify-content: left;
}

.ant-btn-primary {
  border-radius: 5px;
}

.ant-btn-primary:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

